<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container" >
    <%= link_to 'BarcodeSoft UCPS-UNSA', root_path, class: 'brand-logo' %>
    <a href="#" data-activates="nav-mobile" class="button-collapse" id="button-collapseMenu"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Items', items_path %></li>
      <li><%= link_to 'Categorias', categories_path %></li>
      <li><%= link_to 'Usuarios', dashboard_users_path %></li>
      <li><%= link_to 'Buscar', search_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
      <% else %>
        
      <% end %>
    </ul>
    <ul class="side-nav" id="nav-mobile">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Items', items_path %></li>
      <li><%= link_to 'Categorias', categories_path %></li>
      <li><%= link_to 'Buscar', search_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
      <% end %>
  </div>
</nav>