<%= form_for [:dashboard, @dashboard_user], html: {class: 'col s12' } do |f|%>
  <% if @dashboard_user.errors.any? %>
    <h2><%= pluralize(@dashboard_user.errors.count, "Error") %></h2>
    <ul>
      <% @dashboard_user.errors.full_messages.each do |msg| %>
        <li><% msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.email_field :email, placeholder: 'Ingrese email...', class: 'validate'%>
      <%= f.label :email, 'Email' %>
    </div>
    <div class="input-field col s12">
      <%= f.password_field :password, placeholder: 'Ingrese contraseña...', class: 'validate'%>
      <%= f.label :password, 'Contraseña' %>
    </div>
  </div>
  <div class="row">
    <%= f.submit 'Guardar', class: 'btn waves-effect waves-light deep-orange' %>
  </div>   
<% end %>
