<h3>Usuarios</h3>

<div class="row">
  <div class="col s6">
    <%= link_to new_dashboard_user_path, class: 'btn-floating btn-large waves-effect waves-light red' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
  <table class="striped bordered responsive-table ">
    <thead>
      <tr>
          <th data-field="id">Email</th>
          <th data-field="actions"> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <% @dashboard_users.each do |dashboard_user| %>
        <tr>
          <td><%= dashboard_user.email %></td>
          <td><%= link_to 'Editar',edit_dashboard_user_path(dashboard_user), class: 'light-blue  waves-effect waves-light btn' %> <%= link_to 'Eliminar',dashboard_user_path(dashboard_user), method: :delete, data: {confirm: 'Desea eliminar?'} ,class: 'red waves-effect waves-light btn' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
  <%= will_paginate @dashboard_users %>
</div>


</div>
