<%= form_for @item, html: {class: 'col s12', multipart: true} do |f| %>
  <% if @item.errors.any? %>
    <h4><%= pluralize(@item.errors.count, "Error")%></h4>
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <%= f.file_field :avatar %>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :name, placeholder: 'Ingrese nombre...', class: 'validate' %>
      <%= f.label :name, 'Nombre' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :model, placeholder: 'Ingrese modelo...', class: 'validate' %>
      <%= f.label :model, 'Modelo' %>
    </div>
    <div class="input-field col s6">
      <%= f.collection_select :category_id, Category.all, :id, :name,  prompt: 'Selecciona una categoria' %>
      <%= f.label :category , 'Categoria' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.number_field :price, placeholder: 'Ingrese precio...', class: 'validate' %>
      <%= f.label :price, 'Precio' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_area :description, placeholder: 'Ingrese descripción...', class: 'validate materialize-textarea' %>
      <%= f.label :description, 'Descripción' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :code, placeholder: 'Codigo', class: 'validate', id: 'input_barCode' %>
      <%= f.label :code, 'Codigo' %>
    </div>
    <img id="barcode">
  </div>
   <div class="row">
    <%= f.submit 'Crear', class: 'btn waves-effect waves-light deep-orange' %>
  </div>   
<% end %>