<h3>Items</h3>

<div class="row"> 
  <table class="striped bordered responsive-table "> 
    <div class="col s6">
      <%= link_to new_item_path, class: 'btn-floating btn-large waves-effect waves-light red' do %>
        <i class="material-icons">add</i>
      <% end %>  
    </div>
    <div class="col s6">
      <%= form_tag(items_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Buscar Items" %>
        <%= button_tag "Buscar" , class: "btn waves-effect waves-light" do %>
          Buscar
          <i class="material-icons right">search</i>
        <% end %>
      <% end %>
    </div>

    <thead>
      <tr>
          <th data-field="id">#</th>
          <th data-field="name">Nombre</th>
          <th data-field="price">Precio</th>
          <th data-field="category"> Categoria </th>
          <th data-field="category"> Codigo de Barras </th>
          <th data-field="description"> Descripción </th>
          <th data-field="actions">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.price %></td>  
          <td><%= item.category.name %></td>
          <td><%= item.code %></td>  
          <td><%= item.description %></td>  
          <td><%= link_to 'Ver', item_path(item), class: 'waves-effect waves-light btn' %> <%= link_to 'Editar',edit_item_path(item), class: 'light-blue  waves-effect waves-light btn' %> <%= link_to 'Eliminar',item_path(item), method: :delete, data: {confirm: 'Desea eliminar?'} ,class: 'red waves-effect waves-light btn' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <%= will_paginate @items %>
</div>