<div class="row"> 
  <div class="col s12">
    <%= image_tag @item.avatar.url(:medium) %>
    <h5>Nombre: </h5> <span class="card-title"><%= @item.name %></span>
    <h5>Descripción: </h5> <span class="card-title"><%= @item.description %></span>
    <h5>Model: </h5> <span class="card-title"><%= @item.model %></span>
    <h5>Categoria: </h5> <span class="card-title"><%= @item.category.name %></span>
    <h5>Precio: </h5> <span class="card-title"><%= @item.price %></span>
    <p style="display: none" id="codeitem"><%= @item.code %></p>
    <div>
      <h5> Código de barras</h5>
      <div id="contentPrint">
        <img width="250px" id="barcode_show"> 
      </div>
      <a id="printBarcode" class="waves-effect waves-light btn"><i class="material-icons left">print</i>Imprimir</a>
    </div>
    <br>
    <%= link_to 'Regresar', items_path, class: "btn waves-effect waves-light light-blue" %>
  </div>

</div>   