<%= form_for @category, html: {class: 'col s12' } do |f|%>
  <% if @category.errors.any? %>
    <h2><%= pluralize(@category.errors.count, "Error") %></h2>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><% msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :name, placeholder: 'Ingrese nombre...', class: 'validate'%>
      <%= f.label :name, 'Nombre' %>
    </div>
  </div>
  <div class="row">
    <%= f.submit 'Crear', class: 'btn waves-effect waves-light deep-orange' %>
  </div>   
<% end %>