<h3>Categorias</h3>

<div class="row">
  <div class="col s6">
    <%= link_to new_category_path, class: 'btn-floating btn-large waves-effect waves-light red' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
  <div class="col s6">
    <div class="col s6">
      <%= form_tag(categories_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Buscar Items" %>
        <%= button_tag "Buscar" , class: "btn waves-effect waves-light" do %>
          Buscar
          <i class="material-icons right">search</i>
        <% end %>
      <% end %> 
    </div>
  </div>
  <table class="striped bordered responsive-table ">
    <thead>
      <tr>
          <th data-field="id">#</th>
          <th data-field="name">Nombre</th>
          <th data-field="name">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>  
          <td><%= link_to 'Editar',edit_category_path(category), class: 'light-blue  waves-effect waves-light btn' %> <%= link_to 'Eliminar',category_path(category), method: :delete, data: {confirm: 'Desea eliminar?'} ,class: 'red waves-effect waves-light btn' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <%= will_paginate @categories %>
  </div>
</div>
