<!DOCTYPE html>
<html>
<head>
  <title>BarcodeProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'partials/header' %>
  <main class="container">
    <%= yield %>
  </main>
  <%= render 'partials/footer' %>
          
  

</body>
</html>
